<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Active Sessions</title>

    <script src="../bower_components/angular/angular.min.js"></script>
    <script>
      window.jQuery = window.$ = require('../bower_components/jquery/dist/jquery.min.js');
    </script>
    <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
    <script src="../bower_components/angular-tree-control/angular-tree-control.js"></script>
    <link rel="stylesheet" href="../bower_components/angular-tree-control/css/tree-control.css">
    <link rel="stylesheet" href="../bower_components/angular-tree-control/css/tree-control-attribute.css">
    <link rel="stylesheet" href="../css/app.css">
  </head>
  <body ng-controller="MainWindowController">
    <h1>Active Sessions</h1>

    <div id="sessionContainer"></div>
  </body>

  <script src="../controllers/MainWindowController.js"></script>
  <script>
    angular.element(document)
           .ready(function() {
             angular.bootstrap(document.body, ['mainWindow']);
           });
  </script>
</html>
