.panel {
  max-width: 600px;
}

.panel-default>.panel-heading {
  min-height: 40px;
  background-color: lightgray;
}

.panel-title {
  float: left;
}

.panel-heading-buttons {
  float: right;
  border: none;
  background: none;
}

.editConfig:hover {
  color: blue;
  background: none;
}

.endSession:hover {
  color: red;
  background: none;
}

.refresh:hover {
  color: green;
  background: none;
}

.panel-footer-buttons {
  border: none;
  background: none;
  float: right;
}

.panel-footer-buttons:hover {
  color: red;
  background: none;
}

.buttons-column {
  text-align: center;
}

.push-pull-buttons {
  margin-top: 15px;
}

@keyframes rotate {
  from { }
  to { transform: rotate(360deg); }
}

.rotate-animation {
  animation-name: rotate;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
